html, 
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 0.875rem;
    font-weight: 900;
    color: #333;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 2em;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 0.75em;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

footer {
    color: white;
    background-color: #202020;
    width: 100vw;
    height: 6.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
}

.footer-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}


/* display: grid;
    grid-template-columns: 4fr 1fr; 
    grid-template-rows: repeat(4, 50px);
    grid-template-areas: 
        "image1 image2"
        "image1 image3"
        "image4 image5"
        "image4 image6";
    justify-content: center;
    margin: 0;
    padding: 0; */

    /*
    cImg means  centeral/main image
    sImg means  secondary image
    */
.blogs-available {
    display: grid;
    grid-template-areas: 
        "cImg cImg cImg" 
        "..... sImg1 .....";
        /* "..... sImg1 ....."; */
    grid-template-columns: 10vw 80vw 10vw;
    /* max-width: 100vw; */
    /* overflow: hidden; */
    grid-template-rows: repeat(4, 50px);
    /* height: 100vh; */
    /* width: 100vw; */
    /* gap: 0.3rem 0.6rem; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

/* .blogs-available .small-img { */
    /* grid-column: span 1;
    grid-row: span 2;
    margin: auto; */
    /* grid-column: 1 / span 2; */
    /* width: 100%;
    height: 100%; */
    /* width: 23.375rem; */
    /* height: 40vh; */
    /* margin: 0;
    padding: 0; */
/* } */

.blogs-available .small-img-1 {
    grid-area: sImg1;
    width: 100;
    height: 100%;
    margin: 0;
    padding: 0;
}

.blogs-available .large-img {
    grid-area: cImg;
    width: 100;
    height: 100%;
    margin: 0;
    padding: 0;
    /* grid-column: span 2; */
    /* grid-row: span 2; */
    /* width: 100%; */
    /* height: 100%; */
    /* width: 23.375rem; */
    /* height: 40vh; */
    /* margin: 0;
    padding: 0; */
}

.footer-text p {
    margin: 0;
}

@media (min-width: 768px) {
    .blogs-available {
        /* 3 rows / 3 columns */
        grid-template: repeat(3, 60vw) / repeat(3, 30vw); 
    }

    .blogs-available img {
        width: 15rem;
        height: 11.25rem;
    }
}